site_name: "LLMling-Agent"
site_description: "Pydantic-AI based Multi-Agent Framework with YAML-based Agents, Teams, Workflows & Extended ACP / AGUI integration"
repo_url: "https://github.com/phil65/llmling-agent/"
site_url: https://phil65.github.io/llmling-agent/
site_author: "Philipp Temminghoff"
copyright: Copyright &copy; 2025 Philipp Temminghoff
edit_uri: edit/main/docs/

theme:
  name: material
  custom_dir: overrides
  icon:
    logo: material/robot-outline
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - announce.dismiss
    - content.action.edit
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.tooltips
    # - content.tabs.link
    - navigation.tracking # update URL based on current item in TOC
    - navigation.path # shows breadcrumbs
    - navigation.tabs # make top level tabs
    - navigation.indexes # documents can be directly attached to sections (overview pages)
    - navigation.footer # next/previous page buttons in footer
    - navigation.top # adds back-to-top button
    # - navigation.sections # top-level sections are rendered as groups
    # - navigation.expand # expand all subsections in left sidebar by default
    - toc.follow # makes toc follow scrolling
    # - toc.integrate  # integrates toc into left menu
    - search.highlight
    - search.suggest
  # - search.share

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:mknodes.utils.icons.twemoji
      emoji_generator: !!python/name:mknodes.utils.icons.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mknodes.mdext
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: python
          class: python
          validator: !!python/name:mknodes.mdext.execute_ext.validator
          format: !!python/name:mknodes.mdext.execute_ext.formatter
        - name: py
          class: python
          validator: !!python/name:mknodes.mdext.execute_ext.validator
          format: !!python/name:mknodes.mdext.execute_ext.formatter

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            docstring_style: google
            inherited_members: true
            show_source: false
            show_signature_annotations: true
            show_symbol_type_toc: true
            show_symbol_type_heading: true
            show_root_toc_entry: false
            ignore_init_summary: true
            signature_crossrefs: true
            separate_signature: true
            line_length: 100

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/phil65
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/llmling-agent/
